/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/TuHoc1/nbproject/private/
/TuHoc1/build/
/TuHoc_1/nbproject/private/
/WebApplication1_02/nbproject/private/
/WebApplication_02/nbproject/private/
/WebApplication_03_a/nbproject/private/
/WebApplication_03_a/build/
/WebApplication_03_b/nbproject/private/
/WebApplication_03_b/build/
/WebApplication_03_c/nbproject/private/
/WebApplication_03_c/build/
/WebApplication_03_d/nbproject/private/
/WebApplication_03_d/build/
/WebApplication_04_a/nbproject/private/
/WebApplication_04_a/build/
/WebApplication_04_b/nbproject/private/
/WebApplication_04_b/build/
/WebApplication_04_c/nbproject/private/
/WebApplication_04_c/build/
/WebApplication_05_a/nbproject/private/
/WebApplication_05_a/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07_JSP_a/nbproject/private/
/WebApplication_07_JSP_a/build/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_07_JSP_b/build/
/WebApplication_07_JPS_c/nbproject/private/
/WebApplication_07_JPS_c/build/
/BTVN_01/nbproject/private/
/BTVN_01/build/
/Converttest/nbproject/private/
/Converttest/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/BaiTap02/nbproject/private/
/BaiTap02/build/
/BaiTap02/dist/
/TuHoc_1/build/
/Buoi_03_funny/nbproject/private/
/Buoi_03_funny_JSTL-EL-JDBC/nbproject/private/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/